set default="0"
set timeout=5

insmod font
if loadfont /boot/grub/font.pf2 ; then
    insmod gfxterm
    set gfxmode=auto
    terminal_input console
    terminal_output gfxterm
fi

menuentry "Установка WinUbuntu 24.04 LTS (Графический установщик)" {
    set gfxpayload=keep
    linux /casper/vmlinuz boot=casper quiet splash fsck.mode=skip ---
    initrd /casper/initrd
}

menuentry "Установка WinUbuntu (Безопасный видеорежим / Safe Graphics)" {
    set gfxpayload=keep
    linux /casper/vmlinuz boot=casper nomodeset quiet splash fsck.mode=skip ---
    initrd /casper/initrd
}

menuentry "Проверка оперативной памяти (Memtest86+)" {
    linux16 /boot/memtest86+.bin
}
