[Desktop Entry]
Version=1.0
Type=Application
Name=Установить WinUbuntu
Comment=Установка системы на жесткий диск
Exec=sudo -E calamares
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=System;
