[Desktop Entry]
Version=1.0
Type=Application
Name=Яндекс
Comment=Доступ в интернет
Exec=yandex-browser-stable %U
Icon=yandex-browser
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
