favorites=yandex-browser.desktop,org.gnome.Software.desktop,thunar.desktop,io.github.celluloid_player.Celluloid.desktop,audacious.desktop,org.gnome.FileRoller.desktop,eog.desktop,xfce4-settings-manager.desktop
button-title=Пуск
button-icon=distributor-logo-ubuntu
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
launcher-show-tooltip=true
category-show-name=true
category-icon-size=1
item-icon-size=2
hover-switch-category=true
stay-on-focus-out=false
view-as-icons=false
recent-items-max=10
favorites-in-recent=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
menu-width=480
menu-height=560
menu-opacity=100
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=gdmflexiserver
show-command-switchuser=false
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=false
command-profile=
show-command-profile=false
search-actions=5
